*

!src/
!prisma/
!.dockerignore
!Dockerfile
!package.json
!package-lock.json
!tsconfig.json

!web/src
!web/static
!web/types
!web/package.json
!web/package-lock.json
!web/svelte.config.js
!web/tsconfig.json
!web/vite.config.ts